div h1 {
  font-size: xx-large;
  margin-left: 20px;
}
div h2 {
  font-size: x-large;
  margin-left: 20px;
  color: blueviolet;
}
.add_brandSales_div {
  margin-top: 20px;
  margin-left: 20px;
}
.add_brandSales_button {
  background-color: blueviolet;
  padding: 10px;

  color: white;
  border-radius: 5px;
  border: none;
}
td {
  padding: 15px !important;
}
